<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap' %}
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <main>
            <div class="container">
                <h1>{{ title }}</h1>
                {{ content | safe }}
                <div class="social">
                    <a href="https://twitter.com/edenwax">
                        {% lucide "twitter" %}
                    </a>
                    <a href="https://www.instagram.com/colintheberry/">
                        {% lucide "instagram" %}
                    </a>
                    <a href="https://github.com/edenwax">
                        {% lucide "github" %}
                    </a>
                    <a href="https://www.linkedin.com/in/cberry93/">
                        {% lucide "linkedin" %}
                    </a>
                </div>
            </div>
        </main>
    </body>
</html>