body, html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: #130e16;
    font-family: 'Inter', sans-serif;
    color: #cdc2d4;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main div.container {
    text-align: center;
}
    main div.container p {
        color: #9989a3;
        padding: 1rem 0;
    }
    main div.social {
        margin-top: 1rem;
    }
        main div.social a {
            color: #fff;
            margin: 0 1rem;
            transition: all .1s ease-in-out;
        }
        main div.social a:hover {
            color: #9989a3;
        }